# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset - do not commit
dataset/*
!dataset/.gitkeep

# Training outputs
runs/
wandb/

# Model weights - do not commit
*.pt
*.pth
*.onnx
*.engine

# Generated results
results/predictions/*
results/failure_cases/*
results/metrics/*

# Keep folder structure
!results/predictions/.gitkeep
!results/failure_cases/.gitkeep
!results/metrics/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/